/* ----------------------공통------------------------------- */
*{ margin: 0; padding: 0; }
body{ font-family: 'Cinzel Decorative', serif; 
    background-color: #F6F6F6; color: #353535;}
a{ text-decoration: none; color: #353535; display: block;}
img{ border: 0; }
ul{ overflow: hidden; }
li{ list-style: none; float: left; }
/* -----------------------header------------------------------ */
#header {
    height: 200px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
    #header>div {
        position: absolute;
        padding: 30px 0;
    }
/* -----------------------nav-lnb------------------------------ */    
    #header>#lnb {
        position: absolute;
        bottom: 0;
    }
        #header>#lnb>ul>li>a { 
                font-size: 1.5rem; 
                padding: 20px 0;
                padding-right: 20px;
                margin-right: 20px;
            }
/* -----------------------nav-gnb------------------------------ */    
    #header>#gnb {
        position: absolute;
        top: 0;
        right: 0;
    }
        #header>#gnb>ul>li>a { 
            font-size: 0.8rem; font-weight: bold;
            padding: 30px 0;
            padding-right: 30px;
            margin-right: 10px;
        }