/* ----------------------공통------------------------------- */
*{ margin: 0; padding: 0; box-sizing: border-box;}
body{ font-family: 'Cinzel Decorative', serif; 
    background-color: #F6F6F6; color: #0F0F0F;}
a{ text-decoration: none; color: #0F0F0F; display: block;}
img{ border: 0; }
header ul{ overflow: hidden; }
header li{ list-style: none; float: left; }
dt, p, label{ font-family: 'Orbit', sans-serif; }
#main-article h2,p { text-align: center; margin-bottom: 10px; } 
/* -----------------------header------------------------------ */
#header {
    width: 100%;
    height: 500px;
    background-image: url(images/배경2.jpg);
    background-size: cover;
    background-position: center 85%;
}
    #header section {
        height: 500px;
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
        #header div a{
            float: left;
            padding: 30px 30px;
            font-size: 2.5rem; font-weight: bold;
        }

/* -----------------------nav-lnb------------------------------ */    
    #header #lnb {
        float: left;
        padding: 20px 30px;
    }
        #header #lnb a { 
                font-size: 1.5rem; font-weight: bold;
                padding: 20px 0;
                padding-right: 20px;
                margin-right: 20px;
            }
        #header #lnb a:hover {
            transition: border-bottom 0.2s ease, border-top 0.2s ease; 
            border-bottom: 5px solid #0F0F0F;
            border-top: 5px solid #0F0F0F;
        }
/* -----------------------nav-gnb------------------------------ */    
    #header #gnb {
        position: absolute;
        top: 0;
        right: 0;
    }
        #header #gnb a { 
            font-size: 0.7rem; font-weight: bold;
            padding: 30px 0; padding-right: 10px;
        }
/* -----------------------main------------------------------ */
#main-content {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
    #main-article {
        width: 900px;
        float: left;
    }
/* -----------------------article-single-malt------------------------------ */
        #main-article > #single-malt {
            overflow: hidden;
            padding: 10px 10px;
            margin-top: 50px;
        }
            #single-malt > .single-malt-list {
                overflow: hidden;
                }
            #single-malt dl {
                float: left;
                height: 150px;
                margin-right: 70px;
            }
                #single-malt dt {
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }
                #single-malt dd {
                    font-weight: bold;
                }
                .single-malt-list + .single-malt-img {
                    overflow: hidden;
                    padding-left: 15px;
                }
                #single-malt img {
                    width: 280px;
                    height: 300px;
                    object-fit: cover;
                    float: left;
                    margin: 30px 5px 50px 0;
                }
                #single-malt img:hover {
                    transform: scale(1.1);
                    transition: transform 0.4s ease;
                }
/* -----------------------article-scotch------------------------------ */
        #main-article > #scotch {
            overflow: hidden;
            padding: 10px 10px;
            margin-top: 50px;
        }
            #scotch > .scotch-list {
                overflow: hidden;
                }
            #scotch dl {
                float: left;
                height: 150px;
                margin-right: 70px;
            }
                #scotch dt {
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }
                #scotch dd {
                    font-weight: bold;
                }
                .scotch-img {
                    overflow: hidden;
                    padding-left: 15px;
                }
                #scotch img {
                    width: 280px;
                    height: 300px;
                    object-fit: cover;
                    float: left;
                    margin: 30px 5px 50px 0;
                }
                #scotch img:hover {
                    transform: scale(1.1);
                    transition: transform 0.4s ease;
                }
/* -----------------------article-cognac------------------------------ */
        #main-article > #cognac {
            overflow: hidden;
            padding: 10px 10px;
            margin-top: 50px;
        }
            #cognac > .cognac-list {
                overflow: hidden;
                }
            #cognac dl {
                float: left;
                height: 150px;
                margin-right: 70px;
            }
                #cognac dt {
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }
                #cognac dd {
                    font-weight: bold;
                }
                .cognac-img {
                    overflow: hidden;
                    padding-left: 15px;
                }
                #cognac img {
                    width: 280px;
                    height: 300px;
                    object-fit: cover;
                    float: left;
                    margin: 30px 5px 50px 0;
                }
                #cognac img:hover {
                    transform: scale(1.1);
                    transition: transform 0.4s ease;
                }
/* -----------------------aside------------------------------ */
#main-aside {
    float: right;
    width: 300px;
    border: 1px solid black;
}
    #main-aside input {
        display: none;
    }
    #main-aside .tab {
        overflow: hidden;
    }
        .tab > label {
            float: left;
            width: 145px;
            padding: 10px;
            text-align: center;
        }
        .tab1 li {
            list-style: none;
            margin-left: 10px;
            margin-bottom: 10px;
            overflow: hidden;
            border: 1px solid black;
        }
            .tab1 img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                float: left;
            }
            .tab1 strong {
                float: left;
                font-size: 1.3rem;
                margin-left: 10px;
            }
/* -----------------------footer------------------------------ */
#footer {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid black;
}